[Desktop Entry]
Name=SteamPipe GUI
Name[en]=SteamPipe GUI
Name[ru]=SteamPipe GUI
Name[de]=SteamPipe GUI
Name[fr]=SteamPipe GUI
Name[es]=SteamPipe GUI
Name[pt]=SteamPipe GUI
Name[pl]=SteamPipe GUI
Name[uk]=SteamPipe GUI
Name[zh]=SteamPipe GUI
Name[ja]=SteamPipe GUI

Comment=Manage and upload Steam builds via steamcmd
Comment[en]=Manage and upload Steam builds via steamcmd
Comment[ru]=Управление и загрузка билдов в Steam через steamcmd
Comment[de]=Steam-Builds über steamcmd verwalten und hochladen
Comment[fr]=Gérer et envoyer des builds Steam via steamcmd
Comment[es]=Administrar y subir builds de Steam a través de steamcmd
Comment[pt]=Gerenciar e enviar builds do Steam via steamcmd
Comment[pl]=Zarządzaj i przesyłaj buildy Steam przez steamcmd
Comment[uk]=Керування та завантаження білдів у Steam через steamcmd
Comment[zh]=通过 steamcmd 管理和上传 Steam 构建版本
Comment[ja]=steamcmd経由でSteamビルドを管理・アップロード

Exec=python3 /opt/steampipe-gui/main.py
Path=/opt/steampipe-gui
Icon=steampipe-gui-logo
Terminal=false
Type=Application
Categories=Development;Utility;Qt;
StartupNotify=true
StartupWMClass=steampipe-gui
