[Desktop Entry]
Categories=System;Settings;
Comment=Official Equestria OS Package Manager (Uninstall and Manage)
Comment[de_DE]=Offizieller Equestria OS Paketmanager (Deinstallieren und Verwalten)
Comment[es_ES]=Gestor de paquetes oficial de Equestria OS (desinstalar y gestionar)
Comment[fr_FR]=Gestionnaire de paquets officiel d'Equestria OS (désinstaller et gérer)
Comment[ja_JP]=Equestria OS 公式パッケージマネージャー（アンインストールと管理）
Comment[pl_PL]=Oficjalny menedżer pakietów Equestria OS (odinstaluj i zarządzaj)
Comment[pt_PT]=Gerenciador de pacotes oficial do Equestria OS (desinstalar e gerenciar)
Comment[ru_RU]=Официальный менеджер пакетов Equestria OS (удаление и управление)
Comment[uk_UA]=Офіційний менеджер пакетів Equestria OS (видалення та керування)
Comment[zh_CN]=Equestria OS 官方软件包管理器（卸载和管理）
Exec='/opt/equestria-os-package-manager/Equestria OS Package Manager.x86_64'
GenericName=Equestria OS Package Manager
GenericName[de_DE]=Equestria OS Paketmanager
GenericName[es_ES]=Gestor de paquetes Equestria OS
GenericName[fr_FR]=Gestionnaire de paquets Equestria OS
GenericName[ja_JP]=Equestria OS パッケージマネージャー
GenericName[pl_PL]=Menedżer pakietów Equestria OS
GenericName[pt_PT]=Gerenciador de pacotes Equestria OS
GenericName[ru_RU]=Менеджер пакетов Equestria OS
GenericName[uk_UA]=Менеджер пакетів Equestria OS
GenericName[zh_CN]=Equestria OS 软件包管理器
Icon=equestria-os-logo
MimeType=
Name=Equestria OS Package Manager
Name[de_DE]=Equestria OS Paketmanager
Name[es_ES]=Gestor de paquetes Equestria OS
Name[fr_FR]=Gestionnaire de paquets Equestria OS
Name[ja_JP]=Equestria OS パッケージマネージャー
Name[pl_PL]=Menedżer pakietów Equestria OS
Name[pt_PT]=Gerenciador de pacotes Equestria OS
Name[ru_RU]=Менеджер пакетов Equestria OS
Name[uk_UA]=Менеджер пакетів Equestria OS
Name[zh_CN]=Equestria OS 软件包管理器
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
