[Desktop Entry]
Name=Equestria OS Packages
Name[ru]=Пакеты Equestria OS
Name[uk]=Пакети Equestria OS
Comment=Manage pacman and AUR packages
Comment[ru]=Управление пакетами pacman и AUR
Comment[uk]=Керування пакетами pacman та AUR
Exec=python3 /opt/equestria-os-package-manager/main.py
Path=/opt/equestria-os-package-manager
Icon=equestria-os-logo
Terminal=false
Type=Application
Categories=Settings;System;PackageManager;Qt;
StartupNotify=true
StartupWMClass=equestria-os-package-manager
