[Desktop Entry]
Name=Equestria App Store
Name[en]=Equestria App Store
Name[ru]=Магазин Equestria OS
Name[de]=Equestria App-Store
Name[fr]=Boutique d'applications Equestria
Name[es]=Tienda de aplicaciones Equestria
Name[pt]=Loja de aplicativos Equestria
Name[pl]=Sklep z aplikacjami Equestria
Name[uk]=Магазин Equestria OS
Name[zh]=Equestria应用商店
Name[ja]=Equestriaアプリストア

Comment=Install and update applications in Equestria OS
Comment[en]=Install and update applications in Equestria OS
Comment[ru]=Установка и обновление приложений в Equestria OS
Comment[de]=Anwendungen in Equestria OS installieren und aktualisieren
Comment[fr]=Installer et mettre à jour des applications dans Equestria OS
Comment[es]=Instalar y actualizar aplicaciones en Equestria OS
Comment[pt]=Instalar e atualizar aplicativos no Equestria OS
Comment[pl]=Instaluj i aktualizuj aplikacje w Equestria OS
Comment[uk]=Встановлення та оновлення програм у Equestria OS
Comment[zh]=在Equestria OS中安装和更新应用程序
Comment[ja]=Equestria OSでアプリをインストール・更新する

Exec=python3 /opt/equestria-os-package-installer/main.py
Path=/opt/equestria-os-package-installer
Icon=equestria-os-logo
Terminal=false
Type=Application
Categories=System;Settings;Qt;
StartupNotify=true
StartupWMClass=equestria-app-store
