[Desktop Entry]
Name=Equestria App Store
Name[ru]=Магазин Equestria OS
Name[uk]=Магазин Equestria OS
Comment=Install and update applications in Equestria OS
Comment[ru]=Установка и обновление приложений
Comment[uk]=Встановлення та оновлення програм
Exec=python3 /opt/equestria-os-package-installer/main.py
Path=/opt/equestria-os-package-installer
Icon=equestria-os-logo
Terminal=false
Type=Application
Categories=System;Settings;Qt;
StartupNotify=true
StartupWMClass=equestria-app-store
