# Игнорируем готовые собранные пакеты (Их мы будем заливать вручную в Releases)
*.pkg.tar.zst
*.tar.gz
*.zip

# --- ИСКЛЮЧЕНИЯ ДЛЯ НАШЕГО РЕПОЗИТОРИЯ ---
# Разрешаем Git'у видеть пакеты и базы именно внутри папки x86_64
# --- ИСКЛЮЧЕНИЯ ДЛЯ НАШЕГО РЕПОЗИТОРИЯ ---
!docs/x86_64/*.pkg.tar.zst
!docs/x86_64/*.db
!docs/x86_64/*.db.tar.gz
!docs/x86_64/*.files
!docs/x86_64/*.files.tar.gz
