[Desktop Entry]
Name=Equestria OS Essentials
Name[en]=Equestria OS Essentials
Name[ru]=Базовые программы Equestria OS
Name[de]=Equestria OS Essentials
Name[fr]=Les Essentiels Equestria OS
Name[es]=Esenciales de Equestria OS
Name[pt]=Essenciais do Equestria OS
Name[pl]=Niezbędnik Equestria OS
Name[uk]=Базові програми Equestria OS
Name[zh]=Equestria OS 必备软件
Name[ja]=Equestria OS 必須アプリ

Comment=Install recommended essential applications for your system
Comment[en]=Install recommended essential applications for your system
Comment[ru]=Установка рекомендуемых базовых приложений для вашей системы
Comment[de]=Installieren Sie empfohlene Basis-Anwendungen für Ihr System
Comment[fr]=Installez les applications essentielles recommandées pour votre système
Comment[es]=Instala aplicaciones esenciales recomendadas para tu sistema
Comment[pt]=Instale aplicativos essenciais recomendados para o seu sistema
Comment[pl]=Zainstaluj zalecane podstawowe aplikacje dla twojego systemu
Comment[uk]=Встановлення рекомендованих базових програм для вашої системи
Comment[zh]=为您的系统安装推荐的必备应用程序
Comment[ja]=システムに推奨される必須アプリケーションをインストールする

Exec=python3 /opt/equestria-os-essentials/main.py
Path=/opt/equestria-os-essentials
Icon=equestria-os-essentials
Terminal=false
Type=Application
Categories=Settings;System;PackageManager;Qt;
StartupNotify=true
StartupWMClass=equestria-os-essentials
