[Desktop Entry]
Categories=System;Settings;
Comment=Equestria OS — Select fastest Arch mirrors by country
Comment[de_DE]=Equestria OS — Schnellste Arch-Spiegel nach Land auswählen
Comment[es_ES]=Equestria OS — Seleccionar los espejos Arch más rápidos por país
Comment[fr_FR]=Equestria OS — Sélectionner les miroirs Arch les plus rapides par pays
Comment[ja_JP]=Equestria OS — 国別で最速の Arch ミラーを選択
Comment[pl_PL]=Equestria OS — Wybierz najszybsze lustra Arch według kraju
Comment[pt_PT]=Equestria OS — Selecionar os espelhos Arch mais rápidos por país
Comment[ru_RU]=Equestria OS — Выбор самых быстрых зеркал Arch по стране
Comment[uk_UA]=Equestria OS — Вибір найшвидших дзеркал Arch за країною
Comment[zh_CN]=Equestria OS — 按国家选择最快的 Arch 镜像
Exec=python3 /opt/pg-rankmirrors/main.py
GenericName=Selecting Mirrors
GenericName[de_DE]=Spiegel auswählen
GenericName[es_ES]=Selección de espejos
GenericName[fr_FR]=Sélection de miroirs
GenericName[ja_JP]=ミラーの選択
GenericName[pl_PL]=Wybór luster
GenericName[pt_PT]=Selecionar espelhos
GenericName[ru_RU]=Выбор зеркал
GenericName[uk_UA]=Вибір дзеркал
GenericName[zh_CN]=选择镜像
Icon=equestria-os-logo
Keywords=mirror;reflector;pacman;
MimeType=
Name=Mirror Manager
Name[de_DE]=Spiegel-Manager
Name[es_ES]=Gestor de espejos
Name[fr_FR]=Gestionnaire de miroirs
Name[ja_JP]=ミラーマネージャー
Name[pl_PL]=Menedżer luster
Name[pt_PT]=Gerenciador de espelhos
Name[ru_RU]=Менеджер зеркал
Name[uk_UA]=Менеджер дзеркал
Name[zh_CN]=镜像管理器
Path=/opt/pg-rankmirrors
StartupNotify=true
Terminal=false
Type=Application
