[Desktop Entry]
Categories=System;Settings;
Comment=Official Equestria OS Package Manager (Uninstall and Manage)
Exec='/opt/equestria-os-package-manager/Equestria OS Package Manager.x86_64'
GenericName[ru_RU]=Equestria OS Package Manager
GenericName=Equestria OS Package Manager
Icon=equestria-os-logo
MimeType=
Name=Equestria OS Package Manager
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
