[Desktop Entry]
Categories=System;Settings;PackageManager;
Comment=Installing applications and drivers in Equestria OS
Comment[ru_RU]=Установка приложений и драйверов в Equestria OS
Comment[de_DE]=Installieren von Anwendungen und Treibern in Equestria OS
Comment[fr_FR]=Installation d'applications et de pilotes dans Equestria OS
Comment[es_ES]=Instalación de aplicaciones y controladores en Equestria OS
Comment[pt_PT]=Instalação de aplicativos e drivers no Equestria OS
Comment[pl_PL]=Instalacja aplikacji i sterowników w Equestria OS
Comment[uk_UA]=Встановлення програм та драйверів у Equestria OS
Comment[zh_CN]=在Equestria OS中安装应用程序和驱动程序
Comment[ja_JP]=Equestria OSにアプリケーションとドライバーをインストール
GenericName=Equestria OS Package Manager
GenericName[ru_RU]=Менеджер пакетов Equestria OS
GenericName[de_DE]=Equestria OS Paketverwaltung
GenericName[fr_FR]=Gestionnaire de paquets Equestria OS
GenericName[es_ES]=Gestor de paquetes Equestria OS
GenericName[pt_PT]=Gerenciador de pacotes Equestria OS
GenericName[pl_PL]=Menedżer pakietów Equestria OS
GenericName[uk_UA]=Менеджер пакетів Equestria OS
GenericName[zh_CN]=Equestria OS包管理器
GenericName[ja_JP]=Equestria OSパッケージマネージャー
Exec='/opt/equestria-os-package-installer/Equestria OS Package Installer.x86_64'
Icon=equestria-os-logo
MimeType=
Name=Equestria Store
Name[ru_RU]=Equestria Store
Name[de_DE]=Equestria Store
Name[fr_FR]=Equestria Store
Name[es_ES]=Equestria Store
Name[pt_PT]=Equestria Store
Name[pl_PL]=Equestria Store
Name[uk_UA]=Equestria Store
Name[zh_CN]=Equestria Store
Name[ja_JP]=Equestria Store
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
