[Desktop Entry]
Categories=System;Settings;
Comment=Official Equestria OS Package Manager (Uninstall and Manage)
Exec='/opt/mlp-package-manager/MLP Package Manager.x86_64'
GenericName[ru_RU]=Package Manager
GenericName=Package Manager
Icon=/run/media/lucial/Main/Git Projects/Equestria-OS-Package-Manager/PackageManagerUI/Builds/EquestriaOS-Logo.png
MimeType=
Name=MLP Package Manager
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
