#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Settings;DesktopSettings;
Comment[ru_RU]=Customizing the visual style and characters of Equestria OS
Comment=Customizing the visual style and characters of Equestria OS
Exec='/opt/mlp-package-theme/MLP Character Theme.x86_64'
GenericName[ru_RU]=Theme Manager
GenericName=Theme Manager
Icon=/home/lucial/equestria-packages/mlp-package-theme/EquestriaOS-Logo.png
MimeType=
Name[ru_RU]=MLP Character Theme
Name=MLP Character Theme
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
