[Desktop Entry]
Type=Application
Name=Equestria OS App Builder
Name[ru]=Equestria OS App Builder
Comment=Build any Python application into a standalone executable using PyInstaller
Comment[ru]=Сборка Python-приложений в исполняемый файл через PyInstaller
Exec=equestria-os-builder
Icon=equestria-os-builder
Categories=Development;Utility;
Keywords=pyinstaller;build;python;package;
StartupNotify=true
