#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Equestria OS Welcome
Comment=A portal to the world of magic and technology
Exec=equestria-welcome
Icon=equestria-os-logo
Categories=System;Utility;
Terminal=false
