[Desktop Entry]
Name=Equestria Software Center
Comment=Installing programs and updating Equestria OS
Exec=equestria-os-software-center
Icon=equestria-os-software-center
Terminal=false
Type=Application
Categories=X-EquestriaOS;System;Settings;
StartupWMClass=equestria-os-software-center
