#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Equestria OS Theme Switcher
Name[en]=Equestria OS Theme Switcher
Name[ru]=Переключатель тем Equestria OS
Name[de]=Equestria-OS-Theme-Wechsler
Name[fr]=Sélecteur de thèmes Equestria OS
Name[es]=Selector de temas de Equestria OS
Name[pt]=Seletor de temas Equestria OS
Name[pl]=Przełącznik motywów Equestria OS
Name[uk]=Перемикач тем Equestria OS
Name[zh]=Equestria OS主题切换器
Name[ja]=Equestria OSテーマスイッチャー

Comment=Switch EG character themes in Equestria OS
Comment[en]=Switch EG character themes in Equestria OS
Comment[ru]=Переключение тем персонажей EG в Equestria OS
Comment[de]=EG-Charakterthemen in EquestriaOS wechseln
Comment[fr]=Changer les thèmes de personnages EG dans Equestria OS
Comment[es]=Cambiar temas de personajes EG en Equestria OS
Comment[pt]=Alternar temas de personagens EG no Equestria OS
Comment[pl]=Przełączaj motywy postaci EG w Equestria OS
Comment[uk]=Перемикання тем персонажів EG у Equestria OS
Comment[zh]=在EquestriaOS中切换EG角色主题
Comment[ja]=EquestriaOSでEGキャラクターテーマを切り替える

Exec=python /opt/equestria-os-character-theme/main.py
Icon=equestria-os-logo
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;Qt;
StartupNotify=true
StartupWMClass=equestria-os-theme-switcher
