#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Settings;DesktopSettings;
Comment=Customizing the visual style and characters of Equestria OS
Comment[de_DE]=Anpassen des visuellen Stils und der Charaktere von Equestria OS
Comment[es_ES]=Personalización del estilo visual y personajes de Equestria OS
Comment[fr_FR]=Personnalisation du style visuel et des personnages d'Equestria OS
Comment[ja_JP]=Equestria OS のビジュアルスタイルとキャラクターのカスタマイズ
Comment[pl_PL]=Dostosowywanie stylu wizualnego i postaci Equestria OS
Comment[pt_PT]=Personalização do estilo visual e personagens do Equestria OS
Comment[ru_RU]=Настройка визуального стиля и персонажей Equestria OS
Comment[uk_UA]=Налаштування візуального стилю та персонажів Equestria OS
Comment[zh_CN]=自定义 Equestria OS 的视觉风格和角色
Exec='/opt/equestria-os-character-theme/Equestria OS Character Theme.x86_64'
GenericName=Theme Manager
GenericName[de_DE]=Theme-Manager
GenericName[es_ES]=Gestor de temas
GenericName[fr_FR]=Gestionnaire de thèmes
GenericName[ja_JP]=テーママネージャー
GenericName[pl_PL]=Menedżer motywów
GenericName[pt_PT]=Gerenciador de temas
GenericName[ru_RU]=Менеджер тем
GenericName[uk_UA]=Менеджер тем
GenericName[zh_CN]=主题管理器
Icon=equestria-os-logo
MimeType=
Name=Equestria OS Character Theme
Name[de_DE]=Equestria OS Charakterthema
Name[es_ES]=Tema de personajes de Equestria OS
Name[fr_FR]=Thème de personnages Equestria OS
Name[ja_JP]=Equestria OS キャラクターテーマ
Name[pl_PL]=Motyw postaci Equestria OS
Name[pt_PT]=Tema de personagens Equestria OS
Name[ru_RU]=Тема персонажей Equestria OS
Name[uk_UA]=Тема персонажів Equestria OS
Name[zh_CN]=Equestria OS 角色主题
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
