[Desktop Entry]
Type=Service
MimeType=all/all;
Actions=relocate-files
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel

[Desktop Action relocate-files]
Name=Relocate with Equestria OS Relocator
Name[ru]=Переместить (Equestria OS Relocator)
Icon=equestria-os-relocator
Exec=python3 /opt/equestria-os-relocator/main.py %F
